<!DOCTYPE html>
<html>
<title>
    Help page
</title>
<head>
    <link rel = "stylesheet" href="./css/cs.css">
</head>
<body>

    {{>header}}
    <a href="..">Home</a>
    <a href="/help">Help</a>
    <p>{{name}}</p>
    <p>{{age}}</p>
</body>
</html>
