<!DOCTYPE html>
<html>
<title>
    Help page
</title>
<head>
    <link rel = "stylesheet" href="./css/cs.css">
</head>
<style> body{
            background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg');
            background-attachment: fixed;
            background-size: 100% 100%;}
</style>
<body>
    <div class='main-content'>
    
    {{>header}}

    <p>Simple site using two API's</p>
    </div>

    {{>footer}}
</body>
</html>
