<!DOCTYPE html>
<html>
<title>
    Help page
</title>
<head>
    <link rel = "stylesheet" href="./css/cs.css">
</head>
<body>
    <div class="main-content">
        
        {{>header}}
  
        <a href="/about">About</a>
        <a href="">Home</a>
        <p>God helps those who help themselves</p>

    </div>

    {{>footer}}
</body>
</html>