<!DOCTYPE html>
<html>
<title>
    Help page
</title>
<head>
    <link rel = "stylesheet" href="./css/cs.css">
</head>
<body>

    {{>header}}
  
    <a href="/about">About</a>
    <a href="..">Home</a>
    <p>Help me from nodejs</p>
    <p>{{name}}</p>
    <p>{{content}}</p>

    {{>footer}}
</body>
</html>